<% cache @quiz_question do %>
<%= form_with model: @quiz_question, url: answer_question_path do |f| %>
    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-10 p-3 mb-5 bg-secondary text-white rounded-lg shadow-lg">
            <div class="row">
                <div class="col-sm-12 col-md-5 text-center">
                    <div class="row mb-3 d-none d-md-block">
                        <%= image_tag 'logo.svg', size: "150x150", class: "mx-auto d-block" %>
                    </div>
                    <h3>
                        <span class="small">LGI</span><br/>
                        Cloud Strategy<br/>
                        <span class="small">Quiz</span>
                    </h3>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="row">
                        <div class="col">
                            <p class="text-warning mb-1"><%= @quiz_question.order %> of <%= @quiz.question_count %></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <h4><%= @quiz_question.question.prompt %></h4>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <ol type="A">
                                <% @quiz_question.question.question_options.each_with_index do |option, idx| %>
                                    <li class="mb-3">
                                        <div class="row ml-2">
                                            <div class="col-s-auto text-nowrap">
                                                <%= f.radio_button(:answer, option.prompt, 
                                                        checked: idx == 0) %>
                                            </div>
                                            <div class="col pl-2">
                                                <%= f.label(:answer, option.prompt, :value => option.prompt ) %>
                                            </div>
                                        </div>
                                    </li>
                                <% end %>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col actions">
                            <%= f.submit "Next Question", class: "btn btn-primary" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
<% end %>