<% if @user && @quiz %>
    <div class="row">
        <div class="col-sm">
            <div class="card shadow mb-3">
                <div class="card-body">
                    <div class="small font-weight-bold text-danger text-uppercase mb-2">Your Name</div>
                    <h5 class="font-weight-bold"><%= @user.name %></h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card shadow mb-3">
                <div class="card-body">
                    <div class="small font-weight-bold text-primary text-uppercase mb-2">Your score</div>
                    <h5 class="font-weight-bold"><%= @quiz.percent %>%</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card shadow mb-3">
                <div class="card-body">
                    <div class="small font-weight-bold text-success text-uppercase mb-2">Position</div>
                    <div>
                        <h5 class="font-weight-bold"><%= @user_place %> place</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
<div class="row">
     <div class="col-md-7 col-lg-8">
        <div class="card shadow mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="small font-weight-bold text-info text-uppercase mb-2">Team Points</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="team-stats">
                            <%= render partial: "stats/team_stats" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-4">
         <div class="row">
            <div class="col-sm">
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div class="small font-weight-bold text-warning text-uppercase mb-2">Leaderboard</div>
                        <div id="leaderboard">
                            <%= render partial: "stats/leaderboard", locals: {leaders: @user_stats.leaders} %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-sm">
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div class="small font-weight-bold text-info text-uppercase mb-2">Activity</div>
                        <div id="quiz-stats">
                            <%= render partial: "stats/quiz_stats", locals: {stats: @quiz_stats} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>