<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
            <% unless @user %>
            <li class="nav-item small text-uppercase <%= active_if_on([new_user_path]) %>">
                <%= link_to 'Sign Up', new_user_path, class: "nav-link"%>
            </li>
            <% end %>
            <% if @quiz && @quiz.end_time.nil? %>
            <li class="nav-item small text-uppercase <%= active_if_on([find_next_question_path, ask_question_path, answer_question_path]) %>">
                <%= link_to 'Resume Quiz', find_next_question_path, class: "nav-link"%>
            </li>
            <% end %>
            <li class="nav-item small text-uppercase <%= active_if_on([stats_path]) %>">
                <%= link_to 'Leaderboard', stats_path, class: "nav-link"%>
            </li>
            <li class="nav-item small text-uppercase <%= active_if_on([audit_path]) %>">
                <%= link_to 'Audit Quiz', audit_path, class: "nav-link"%>
            </li>
        </ul>

        <ul class="navbar-nav">
            <% if @user && @user.is_deletable? %>
                <li class="nav-item small text-uppercase ">
                    <%= link_to "Delete User",
                        destroy_user_path,
                        method: :delete,
                        data: { confirm: "Are you sure you want to destroy your user? You will lose all your progress."},
                        class: "nav-link"%>
                </li>
            <% end %>
        </ul>
    </div>
</nav>